:root {
    --random-color: hsl(0, 100%, 50%); 
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%; 
    height: 100%;    
    position: relative;
}

.container {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .25rem solid black; 
}

button#enterBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 2rem;
    width: 9.5rem;
    font-weight: bolder;
    font-size: 1rem;
    padding: 15px;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, black, #3b3d62); 
}

.nested-square {
    position: absolute;
    width: calc(100% - 15px); 
    height: calc(100% - 15px);
    background-color: var(--random-color); 
    margin: 10px;
}